
bower_components

node_modules

understrap.zip

src

dist

# Ignore everything
wp-content/themes/understrap/assets/*

# But not these folders...
!wp-content/themes/understrap/assets/FGIT_Logos_ForClient/
!wp-content/themes/understrap/assets/SocialMediaIconsSVGFiles
