.bio-title
{
    font-size: $section-title;
    color: $primary-color;
    text-transform: uppercase;
    font-family: $primary-font;
}

.bio-name
{
    font-family: $primary-font;
    font-size: $bio-name;
    font-weight: 300;

}

.bio-quote
{
    font-size: $bio-quote;
    font-family: $secondary-font;
}

.bio-company
{
    font-size: $bio-company;
}

.bio-qa
{
    font-size: $bio-qa;
}