.mentor-section
{
    .mentor-section-box
    {
        width: 380px;
        height: 261px;
        background-color: black;
        position: relative;

        .mentor-name
        {
            font-size: $section-title;
            letter-spacing: 2px;
        }

        hr
        {
            color: $primary-color;
            width: 50px;
            display: block;
            margin: 0 auto;
        }

        .mentor-quote
        {
            line-height: 34px;
            font-size: $paragraph-title;
        }

        .mentor-button
        {
            position: absolute;
        }


    }
}



.tax-partnercategory {
  .load-more {
    margin: 1em 30px 1em;
    @media only screen and (min-width: 576px) {
      margin: 2em 10% 1em;
    }
  }

  .container {
    margin: 0;
    width: 100%;
  }


  .page-header {
    img {
      display: none;
    }
  }

  header {
    padding: 1em 20px 1em 50px;
    @media only screen and (min-width: 576px) {
      padding: 1em 10% 2em;
    }
    .page-content {
      padding: 0;
    }

    h1 {
      margin-bottom: 0.4em;
      padding: 0;

    }
    .img-bkg, .btn-secondary {
      display: none;
    }
    .ticket-btn {

      @media only screen and (min-width: 576px) {
        padding: 0;
      }
    }
  }
    article {
        position: relative;
        height: 370px;
        color: #fff;
        display: -webkit-flex;
        display: flex;
      -webkit-align-items: center;
        align-items: center;
        width: 100%;
        padding: 0;
        p {
            font-size: 1.1em;
        }
        .img-bkg {
            display: none;
            @media only screen and (min-width: 576px) {
                display: block;
                height: 370px;
                opacity: 0.48;
                margin: 0;
              padding: 0 10% ;
            }
        }
        .overlay {
            background-color: #000;
            border-bottom: 2px solid #fff;
            @media only screen and (min-width: 576px) {
                position: absolute;
                top: 80px;
                border-bottom: none;
            }
        }

        /* Black box */
        .relative-position {
            height: 100%;
            padding: 2em 0.5em 2.6em;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .post-link {
            background-color: $primary-color;
            border: none;
            margin-top: 1em;
            padding: 0.8em 1.8em;
            color: #fff;
            font-size: 0.875em;
            &:hover {
                text-decoration: none;
            }
            @media only screen and (min-width: 576px) {
                position: absolute;
                bottom: -20px;
            }
        }

        h2 {
            margin: 0.15em 0;
            color: #fff;
        }

        p.card-text {
          margin-bottom: 0.2em;
        }

    }
  .end-content {
    margin: 3.5em 0;
  }

}

/*
.test-container {
  height: 370px;
  position: relative;
  top: 0;
  left:0;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.test-img {
  height: 100%;
  position: absolute;
}

.test-content {
  background-color: blue;
  position: absolute;
}

*/