.event-main-section
{
    p
    {
        font-size: $paragraph-primary-size;
    }
}

.event-secondary-section
{
    .extra-info
    {
        font-size: $paragraph-secondary-size;
    }

    .event-map
    {
        width: 298px;
        height: 282px;
    }
}





/* Desktop Specific Styles */
.single-event {
    .container {
        @media only screen and (min-width: 576px) {
            margin: 0;
            width: 100%;
        }
    }

    a {
        color: $primary-color;
        &:hover {
            text-decoration: none;
        }
    }
}
.desktop {
    background-color: #e6e6e6;

    .custom-padding {
        padding: 3em 10%;
    }

    .images {
        padding-left: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img {
            width: 100%;
        }
    }
}


/* Mobile Specific Styles */
.mobile {
    .black-bkg {
        background-color: #000;
        color: #fff;
        padding: 2em 20px;
    }
    .additional-info {
        padding: 2em 20px;
    }
    hr {
        margin-left: 0;
        -webkit-margin-start: 0;
    }

    .event-img {
        img{
            width: 100%;
        }
    }

    .last-btn {
        text-align: center;
        padding: 3em 0;

    }

}

/* BUY TICKETS btn */
.ticket-btn {
    margin: 2em 0;
    a {
        background-color: $primary-color;
        color: #fff;
        padding: 0.8em 1.8em;
        font-size: 0.875em;

        &:hover {
            text-decoration: none;
        }

        img {
            display: none;
        }
    }
}

/* Ticket info and Location */

.details {
    line-height: 0.4em;
}

.detail-title:not(:first-child) {
    margin-top: 2em;
}