.event-main-section
{
    p
    {
        font-size: $paragraph-primary-size;
    }
}

.event-secondary-section
{
    .extra-info
    {
        font-size: $paragraph-secondary-size;
    }

    .event-map
    {
        width: 298px;
        height: 282px;
    }
}






.single-event {
    .container {
        @media only screen and (min-width: 576px) {
            margin: 0;
            width: 100%;
        }
    }

    article {
        width: 100%;
    }

    a {
        color: $primary-color;
        &:hover {
            text-decoration: none;
        }
    }
    hr {
        margin-left: 0;
    }

    /* Desktop Specific Styles */
    .desktop {
        background-color: #e6e6e6;

        .custom-padding {
            padding: 3em 10%;
        }

        .images {
            padding-left: 1em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            img {
                width: 100%;
            }
        }
    }


    /* Mobile Specific Styles */
    .mobile {
        .black-bkg {
            background-color: #000;
            color: #fff;
            padding: 2em 20px;
        }
        .additional-info {
            padding: 2em 20px;
        }

        .event-img {
            img{
                width: 100%;
            }
        }

        .last-btn {
            text-align: center;
            padding: 3em 0;

        }

    }

    /* Ticket info and Location */

    .details {
        line-height: 0.4em;
    }

    .detail-title:not(:first-child) {
        margin-top: 2em;
    }
}

