.event-preview-section
{
   font: 2em;
}

.past-events-section
{


    a.event-link
    {
        font-size: $paragraph-primary-size;
        color: $primary-color;
    }

}

.post-type-archive-event {
    header {
        h1 {
            color: $primary-color;
            margin-bottom: 0.4em;
        }
        .taxonomy-description {
            display: none;
            @media only screen and (min-width: 576px) {
                display: block;
            }
        }
    }

    .page-header {
      padding: 1em 20px 1em;
      @media only screen and (min-width: 576px) {
        padding: 1em 10%;
      }
    }

    .container {
        @media only screen and (min-width: 576px) {
            margin: 0;
            width: 100%;
        }
    }
    .upcoming-events {
        article {
            color: #fff;
            padding: 1.5em 20px;
            background-color: #000;
            border-bottom: 2px solid #fff;
            @media only screen and (min-width: 576px) {
                color: #000;
                background-color: #e6e6e6;
                border-bottom: none;
                padding: 3em 10%;
            }

            hr {
                margin-left: 0;
            }
            .img-bkg {
                width: 100%;
                height: 100%;
            }
            h2 {
                margin: 0.3em 0;
            }
        }

        .even-article {
            @media only screen and (min-width: 576px) {
                background-color: $menu-color;
                color: #fff;
                font-weight: 300;
            }
        }

        /* READ MORE btn */
        .understrap-read-more-link {
            margin: 2em 0 0;
            background-color: $primary-color;
            color: #fff;
            padding: 0.8em 1.8em;
            font-size: 0.875em;
            border: none;
            border-radius: 0;

            &:hover {
                text-decoration: none;
            }

        }
    }


    .past-events {
        padding: 1.5em 20px;
        @media only screen and (min-width: 576px) {
            padding: 2em 10%;
        }
        .second-title {
            font-size: 1.3em;
        }
        .article-wrapper {
            margin-bottom: 1em;
        }
        article {
          
            div.red-block
            {
                background-color: $primary-color;
                height: 14px;
                width: 6px;
            }
            .event-date {
                color: #7f8c8d;
            }

            h3 {
                margin: 0.3em 0;
            }
            .event-link {
                color: $primary-color;
                font-size: 0.9em;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }

        }
        /* Load more btn */
        .load-more {
            margin-top: 1em;
        }
    }
}

