.home-banner
{
    background-size: cover; 

}

.section-container
{
    padding: 4em 0 4em 0;
    
}
.banner-title
    {
        margin-top: 1em;
        font-family: $secondary-font;
        font-size: 24px;
        line-height: 30px;
        color: $secondary-color;
        margin-bottom: 0.5em;

        @media only screen and (min-width: 576px ) {
            margin-top: 1em;
            font-size: 26px;
            line-height: 30px;
        }

         @media only screen and (min-width: 992px ) {
            line-height: 52px;
            font-size: $home-section-title;
        }
       
    }

#home-banner-button
{
    background-color: white;
    color: $primary-color;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 2em;
}

.home-secondary-content
{
      padding-top: 2.5em;
      padding-bottom: 2.5em;

    h3
    {
        margin-bottom: 1em;
    }

    p
    {
        margin-bottom: 2em;
    }
    .article-container
    {
        width: 80%;
    }
}

.home-third-content
{
      padding-top: 2.5em;
      padding-bottom: 2.5em;
      background-color: black;
      color: $secondary-color;

      h3{
        font-family: $secondary-font;
        color: $secondary-color;
        font-size: 32px;
    }
}

.home-fourth-content
{
      padding-top: 2.5em;
      padding-bottom: 2.5em;
      color: black;

      h3{
        font-family: $secondary-font;
        color: $third-color;
        font-size: 32px;
    }
}

.twitter-wrapper{

    h3
    {
        font-family: $secondary-font;
        color: $primary-color;
        font-size: 32px;
    }

    .twit-feed-container
    {
            overflow: scroll;
            overflow-x: hidden;
            height: 300px;

        .tweet-div
        {
            padding: 10px;
            border-bottom: 1px solid #D3D3D3;

            .user-pic
            {
                margin-right: 10px; 
                width: 30px; 
                height: 30px; 
                align: left;
                display: inline; 
                border-radius: 20px;
            }

            h4
            {
                display: inline;
                font-size: 12px;
                font-weight: bold;
                span
                {
                    
                    color: grey;
                }
            }

            p
            {
                font-size: 12px;
                margin-bottom: 1em;
                margin-top: 1em;
            }

            a
            {
                font-size: 13px;
                display: block;
                margin-top: 0.5em;

            }
        }
    }
}