.news-box
{
    border: 1px solid black;
    padding: 3em 0 0.5em 0;
    width: 80%;

    .fgit-button
    {
        width: 60px;
        height: 28px;
        background-color: #e6e6e6;
        color:  #808080;
    }
    p{
        padding: 1em 1em 1em 1em;
    }
    a
    {
        padding: 1em 1em 1em 1em;
    }
}

