// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

/** GENERAL STYLES **/

body {
    font-size: 16;
}

p
{
    font-size: $paragraph-primary-size;
    font-family: $primary-font;
    line-height: 1.35em;
    @media only screen and (min-width: 576px) {
        line-height: 1.425em;
    }

}

.bold
{
    font-weight: 600;
}

.white-font
{
    color: white;
}

.red-font
{
    color: $primary-color;
}

.light-font-weight
{
    font-weight: 300;
}

.medium-font-weight
{
    font-weight: 500;
}

.space-between
{
    justify-content: space-between;
}
.page-intro
{
    .page-title
    {
        font-family: $secondary-font;
        font-size: $page-title;
        color: $primary-color;

    }
    
    .intro-text
    {
        font-size: $paragraph-title;
        font-family: $primary-font;
    }
}

.article-button
{
    background-color: $primary-color;
    color: white;
    padding: 10px 15px 10px 15px;
    font-family: $primary-font;
    font-size: $button-title;
    font-weight: 700;

     @media only screen and (min-width: 992px ) {
        padding: 15px 25px 15px 25px;
        font-size: $button-title;
        }
}

.article-container
{
    h3
    {
        font-size: $section-title;   
        font-weight: 700;
        line-height: 26px;
    }
    
    p
    {
        line-height: 22px;
    }

}

hr
{
    border: 2px solid $primary-color;
    width: 70px;
    @media only screen and (min-width: 576px) {
        border: 3px solid $primary-color;
        width: 70px;
    }

}

h1 {
    font-family: $secondary-font;
    font-size: 2em;
    @media only screen and (min-width: 576px) {
        font-size: 3em;
    }

}

h2 {
    font-size: 1.625em;
    font-family: $secondary-font;
    line-height: 1.5em;
    margin: 0.8em 0;
}

h3 {
    font-size: 1.3em;
    font-family: $secondary-font;
}

.event-title
{
    font-size: $paragraph-title;
    font-family: $secondary-font;
}

.load-more-button
{
    width: 130px;
    height: 46px;
    background-color: none;
    border: 2px solid $primary-color;
    padding: 15px 20px 15px 20px;
    
}

.no-padding {
    padding: 0;
}

.inline-block {
    display: inline-block;
}

/* BUY TICKETS btn */
.ticket-btn {
    margin: 2em 0;
    padding: 0;
    a.white-font {
        background-color: $primary-color;
        color: #fff;
        padding: 0.8em 1.8em;
        font-size: 0.875em;

        img {
            display: none;
        }
    }
    a:hover.white-font {
        text-decoration: none;
    }
}
