nav {

  .header-container {
    @media only screen and (min-width: 576px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.2em 4% 0.2em 2%;


    }
  }

  .navbar-header {
    margin: 10px 20px;
    /* Site Logo */
    .site-logo {
      width: 37.5px;
      height: 33.2px;
      background: url('../assets/FGIT_Logos_forClient/FGIT_MobileWebsite/FGIT_Logo_Mobile.png') center/contain no-repeat;

      @media only screen and (min-width: 576px) {
        margin-top: 24px;
        width: 93px;
        height: 83px;
      }

      @media only screen and (min-width: 925px) {
        margin-top: 0;
        width: 234.9px;
        height: 118px;
        background: url('../assets/FGIT_Logos_forClient/FGIT_DesktopWeb/FGIT_logo_Desktop.png') center/contain no-repeat;
      }
    }

    /* Menu Icon for Dropdown Menu*/
    .navbar-toggler {
      border: transparent;
    }
  } /* end of navbar-header */


  .menu-icons {
    @media only screen and (min-width: 576px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
    }

    /* Navigation and Social Media Icons */
    .header-icons {
      display: none;
      @media only screen and (min-width: 576px) {
        display: block;
        padding-top:  1em;
      }
      .header-icon {
        width: 30px;
        height: 30px;
      }
    }

    /* Collapsing Menu - Primary */
    #exCollapsingNavbar {
      width: 100%;
      background-color: #ececec;
      padding: 0 20px;
      height: 100vh;

      #main-menu{
        float: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      @media only screen and (min-width: 576px) {
        background-color: #fff;
        padding: 1em 0;
        height: auto;
        form {
          display: none;
        }
      }

      ul li a {
        color: $menu-color;
        font-weight: bold;
        padding: 0.2em 0.3em;
        &:hover {
          color: $primary-color;
        }
      }
      ul li:nth-last-child(2) a {
        padding: 0.2em 0 0.2em 0.3em;
      }

      /* Form in the menu */
      form {
        .input-group {
          border-bottom: 1px solid black;
          .input-group-btn {
          }

          .field {
            border: transparent;
            background-color: transparent;
          }
        }
      }

      .dropdown-menu {
        background: #ececec;
        border: none;
        padding-left: 15px;
        a:hover.nav-link {
          background-color: transparent;
        }
        @media only screen and (min-width: 576px) {
          background-color: #fff;
          text-align: center;
          position: absolute;
          left: -20px;
          padding: 4px;
        }
      }
    }  /* end of collapsing menu */
  }
}


/* Form (not just in nav) */

form {
  .submit {
    background: url('../assets/SocialMediaIconsSVGFiles/grey-search.svg') center/contain no-repeat;
    border: transparent;
  }

  @media only screen and (min-width: 576px) {
    float: left;
    .input-group {
      .field {
        width: 230px;
        height: 30px;
        border: 2px solid #ececec;
        border-radius: 40px;
      }
      .input-group-btn {
        float: left;

      }

    }
  }
}


.header-icons form .input-group .field {
  border-radius: 40px;
}



.tax-membercategory, .single-member, .page-template-get-involved,
.page-template-sponsors, .category-facebook, .category-instagram {
    nav .container {
      margin: 0;
      width: 100%;
    }
}

