// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


// Basics of a navbar
$navbar-height:                    60px;
$navbar-margin-bottom:             0px;
$navbar-border-radius:             0px;

//Base 
$primary-color: #bc2c2d;
$secondary-color: #ececec;
$third-color: #4d4d4d;
$menu-color: #333333;
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Playfair Display', serif;
$aside-background: #000;
$paragraph-primary-size: 1em;
$paragraph-secondary-size: 14px;
$paragraph-third-size: 13px;
$section-title: 20px;
$paragraph-title: 26px;
$page-title: 48px;
$button-title: 14px;
$bio-name: 32px;
$bio-quote: 38px;
$bio-company: 22px;
$bio-qa: 20px;
$home-section-title: 40px;
$board-member-title: 1em;
$menu-font-size: 14px;
$menu-link-rollover: #bc2c2d;
$enable-flex: true;
$btn-primary-bg: transparent;
$btn-primary-color: #fff;


